<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<!-- Debug Level: DEBUG, INFO, WARN, ERROR, FATAL -->

	<!-- File Appender - Logs to file -->
	<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="D:\\IIS File\\Error\\" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="'app-log-'yyyyMMdd'.txt'" />
		<staticLogFileName value="false" />
		<maxSizeRollBackups value="30" />
		<maximumFileSize value="10MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline%exception" />
		</layout>
	</appender>

	<!-- Separate Error File Appender -->
	<appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="D:\\IIS File\\Error\\" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="'errors-'yyyyMMdd'.txt'" />
		<staticLogFileName value="false" />
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="ERROR" />
			<levelMax value="FATAL" />
		</filter>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline%exception%newline" />
		</layout>
	</appender>

	<!-- Console Appender -->
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<!-- Root Logger -->
	<root>
		<level value="DEBUG" />
		<appender-ref ref="FileAppender" />
		<appender-ref ref="ErrorFileAppender" />
		<appender-ref ref="ConsoleAppender" />
	</root>

	<!-- Specific loggers -->
	<logger name="Microsoft.AspNetCore">
		<level value="WARN" />
	</logger>

	<logger name="UserAuthAPI">
		<level value="DEBUG" />
	</logger>
</log4net>